<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Sticker number</th>
      <th>Created At</th>
      <th>Due Date</th>
      <th>Total</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'order', collection: @orders %>
  </tbody>
</table>

<br>
